<p id="notice"><%= notice %></p>

<div class="page-title">
  <h3 class="breadcrumb-header">Daftar Perusahaan Asuransi</h3>
</div>

<div class="col-md-12">
  <div class="panel panel-white">
    <div class="panel-heading clearfix">
        <%= link_to new_insurance_path, class: 'btn btn-success m-b-sm' do %>
          <i class="fa fa-plus"></i> Add Insurance
        <% end %>
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <table id="insurance-management-datatable" class="display table action-table" style="width: 100%; cellspacing: 0;" data-source="<%= insurances_path(format: :json) %>">
          <thead>
            <tr>
              <th>Name</th>
              <th>Address</th>
              <th>Code</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
          </tbody>
        </table>
        </div>
      </div>
  </div>
</div>
